.categories{
  display: flex;
flex-wrap: wrap;
justify-content: center;

}
.category-header{
text-align: center;
font-size: x-large;
font-weight: 800;
font-size: 2rem;
color: var(--primary);
}
.category-img{
  height: 250px;
  width: 250px;
  border: 2px solid lightgray;
}


.category-card{
  width: 250px;
  height: 250px;
  position: relative;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.toggle-background{
  width: 250px;
  height: 250px;
  position: absolute;
}

.toggle-background:hover{
  background:#535c78c5 ;
  color: white;
  transition: background 1s, transform 1s;
}

.category-info{
position: absolute;
top: 30%;
left: 5%;  
font-size: large;
}
.category-shopNow{
position: absolute;
bottom: 30%;
color: white;
left: 5%;
font-weight: bold;
font-size: large;
border-bottom: 2px solid white;
padding-bottom: 0.3rem;
}



