
.adress-form-details{
    /* width: 350px; */
    width: 100%;
    /* border: solid; */
    /* margin:2rem ; */
    position: fixed;
    top:5%;
    /* border:solid; */
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2px;
}
.address-form-container{
background-color: white;
width: 15rem;
height: auto;
border: 1px solid #40E0D0 ;
position: relative;

}

.cross-address-btn{
    background-color: white;
    border: none;
    position: absolute;
    right: 2%;
    top: 2%;
cursor: pointer;
}

.address-field{
    width: 89%;
    margin: 0.5rem 0.6rem;
    margin-left: 1rem;
    padding: 0.6rem;
    border-radius:0.4rem ;
    -webkit-border-radius:0.4rem ;
    -moz-border-radius:0.4rem ;
    -ms-border-radius:0.4rem ;
    -o-border-radius:0.4rem ;
    border: 2px solid lightblue;
    /* background-color: lightblue */
 }

 
 .btn-address-save-cancel{
     display: flex;
     justify-content: space-around;
     margin-bottom: 0.5rem;
     margin-top: 0.5rem;
   
 }
 .save-address-btn{
     padding: 0.3rem 0.3rem;
     background-color: var(--primary);
     color: white;
     cursor: pointer;
     margin: 0.5rem;
 }
 .cancel-address-btn{
     padding: 0.3rem 0.3rem;
     background-color: red;
     color: white;
     border: none;
     cursor: pointer;
     margin: 0.5rem;
 }
 .dummy-address-btn{
     padding: 0.3rem 0.3rem;
     background-color: var(--header-color);
     color: white;
     border: none;
     cursor: pointer;
     margin: 0.5rem;
 }
 @media (min-width:720px){
    .address-form-container{
        width:35rem;
        height: 80vh;

    }
 
    .address-field{
        width: 95%;
    }
}