.profile-container{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.profile-innerContainer{
    border: solid;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}
