.profile-page-container{
  height: auto;
  padding: 1rem;
}
.profile-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  height: auto;
}

.profile-innerContainer {
  margin-top: 3rem;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.993);
  width: 400px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  
}
.btn-profile-div{
    border-bottom:2px solid var(--primary);
}

.btn-address {
  width: 50%;
  padding: 0.3rem 0.3rem;
  border:none;
  font-weight: bold;
  font-size: large;
}
.btn-profile {
  width: 50%;
  padding: 0.3rem 0.3rem;
  font-weight: bold;
  border:none;
  font-size: large;
}
.btn-profile-color {
  background-color: var(--primary);
  color: var(--white);
}

.btn-address:hover {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}
.btn-profile:hover {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}

.heading-profile{
    padding-top: 1rem;
    font-size: 2.2rem;
    font-weight: bolder;
}
.profile-tab-container{
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.profile-logout-btn{
  background-color: red;
  border: 1px solid var(--white);
  padding: 0.5rem;
  margin: 0.3rem;
  font-weight: bolder;
  color: var(--white);
  letter-spacing: 1.5px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.profile-logout-btn:hover{
  color: var(--primary);
  background-color: var(--alice-blue);
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
}
.profile-Address-btn{
  background-color: #40E0D0;
  border: 1px solid var(--white);
  padding: 0.5rem;
  margin: 0.3rem;
  font-weight: bolder;
  color: var(--white);
  letter-spacing: 1.5px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  
;

}
.navlink-address-setting{
  text-decoration: none;
color:var(--primary);
}
.navlink-address-setting:hover{
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
.profile-Address-btn:hover{
  color: var(--primary);
  background-color: var(--alice-blue);
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
}



.main-profile-details{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1rem;
grid-column-gap: 0;
}

.details-title{
  font-size: large;
  font-weight: 800;
  padding: 0.2rem 0rem;
}
.profile-value{
padding:0.2rem 0rem ;
}
.btn-setting-logout{
  margin-top: 1rem;
}