.price-detail-card {
  width: 18rem;
  height: 25rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
}

.price-detail-heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  margin-bottom: 01rem;
  border-bottom: 1px solid var(--gray);
}

.sm-fontsize {
  font-size: 1rem;
}

.sm-margin-bottom {
  margin-bottom: 0.5rem;
}

.total-amt {
  margin-bottom: 0.8rem;
}

.coupon-box {
  border-top: 1px solid var(--gray);
  padding: 0.8rem 0rem;
  padding-bottom: 0.6rem;
}

.apply-coupon-btn {
  align-self: flex-start;
  padding: 0.1rem 0.4rem;
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  font-size: 0.95rem;
}

.saved-price-info {
  color: var(--green);
  font-weight: bold;
}

.checkout-btn {
  background-color: var(--primary);
  font-size: 1rem;
  color: var(--white);
  padding: 0.3rem;
  margin-top: 0.6rem;
  border: 1px solid var(--primary);
  border-radius: 0.3rem;
}

.checkout-btn:hover {
  background-color: var(--white);
  color: var(--primary);
}

@media (min-width: 720px) {
  .price-detail-card {
    width: 22rem;
    height: 28rem;
    align-self: start;
  }
}
