.navigation {
  background-color: var(--primary);
  padding: 0.5rem;
  position: relative;
  border-bottom: 1px solid var(--primary);
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 4.5rem;
 margin-bottom:3rem ;
}

.navigation .navigation-header {
  font-size: 1.5rem;
  color: var(--white);

}
.menu-item-cart {
  position: relative;
}
.cart-length {
  /* background-color: black; */
  /* background-color: #E0DFE4; */
  position: absolute;
  top: -4%;
  font-size: 0.9rem;
  height: 22px;
  width: 18px;
  border-radius: 0.3rem;
  color: black;
  font-size: medium;
  font-weight: 600;
  padding: 0.1rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.search-bar {
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
  border: none;

  outline: 1px solid var(--gray);
  letter-spacing: 1px;
  color: var(--header-color);
}

.navigation-menu {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

/* Menus */
.navigation .menus {
  border-radius: 0.3rem;
  position: absolute;
  right: 0px;
  top: 62px;
  /* background-color: var(---blue); */
  flex-direction: column;
  z-index: 2;
}

.hide-menu {
  display: none;
}

.menu-item {
  list-style: none;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  /* color: white; */
  /* background-color: var(--primary); */
  cursor: pointer;
}
.menu-item:hover {
  font-size: xx-large;
  cursor: pointer;
}
.menus-md {
  display: none;
}

.nav-link {
  color: var(--primary);
}

.header-link {
  color: var(--white);
}

.search-bar:hover {
  cursor: unset;
}

.search-navBar {
  display: none;
}
.search-navBar-mobile-view{
  width: 100%;
  padding: 0.5rem;
  background-color: var(--primary);
  position: fixed;
  z-index: 1;
  top: 4rem;
  outline: 1rem;
  outline: 3px solid var(--primary);
}

@media (min-width: 720px) {
  .navigation{
    margin-bottom: 0px;
  }
  .search-navBar {
    display: block;
  }

  .search-navBar-mobile-view {
    display: none;
  }

  .search-bar {
    width: 20rem;
  }
  .nav-link {
    color: var(--white);
  }
  .navigation .navigation-header {
    font-size: 1.7rem;
  }
  .menus {
    display: none;
  }

  .navigation-menu {
    display: none;
  }
  .navigation .menus {
    background-color: var(--alice-blue);
    display: none;
  }
  .menus-md {
    display: flex;
  }
  .cart-length {
    color: white;
    top: 6%;
  }
}

@media (min-width: 1024px) {
  .search-bar {
    width: 35rem;
    padding: 0.7rem;
    font-size: 1rem;
  }
  .navigation {
    flex-grow: 1;
  }
  .navigation .navigation-header {
    font-size: 2rem;
  }
  .menu-item {
    font-size: 1.8rem;
  }
  .cart-length {
    color: white;
    top: 6%;
  }
}
